:root {
  --textColor: #ffffff;
  --yardleyYellow: #FCBF49;
  --secondaryColor: #D62828;
  --orange: #F77F00;
  --birminghamBlue: #003049;
  --bartleyGreen: #76DA6E;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 20px;
  background-color: var(--yardleyYellow);
}

/* Navbar*/

.navbar .container-fluid {
  background-color: var(--yardleyYellow);
}

.navbar {
  --bs-navbar-padding-x: none;
}

.navbar-nav {
  text-decoration: none;
  margin: auto;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: var(--secondaryColor);
  transition: all 0.35s;
}

.navbar .container-fluid img {
  height: 70px;
}

/*MAIN*/

/*Banner*/

#what-to-do-banner {
  background-image: url(../images/dining-out.jpg);
}

#about-birmingham-banner {
  background-image: url(../images/about-hero.jpg);
  max-height: 75%;
}

.banner-main {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--textColor);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0 !important;
  text-shadow:  1px 1px 2px var(--birminghamBlue);
}

.banner-main h1 {
  padding: 10px;
}

/*Hero*/

.hero-text {
  background-image: url(../images/about.jpg);
  object-fit: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  position: relative;
  text-align: center;
}

.hero-text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--textColor);
  text-shadow:  1px 1px 2px var(--birminghamBlue);
  font-weight: bold;
}

.hero-text p {
  padding-top: 5vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--textColor);
  text-shadow:  1px 1px 2px var(--birminghamBlue);
  font-weight: bold
}

/* second hero Birmingham section */
.second-hero { 
  background-image: url(../images/brumi.jpg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section-heading {
  text-align: center;
  position: relative;
  padding-top: 40vh;
  height: 100vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  color: var(--yardleyYellow);
  font-weight: bold;
  text-shadow:  1px 1px 2px var(--birminghamBlue);
}

.section-heading h2 {
  text-align: center;
  padding: 10px;
  height: -50vh;
}

.section-heading p {
  text-align: center;
  padding-bottom: 10px;
}

/* about birmingham hero */

.about-hero {
  background-image: url(/assets/images/about-hero.jpg);
  height: 100vh;
  width: 98.9vw;
}


.about-hero h1 {
  color: var(--yardleyYellow);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 70px;
}


/* about video and currency convertor */
.row-about {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

/* video */

.columnA {
  display: flex;
  justify-content: center;
  margin: auto;
}

.columnA iframe {
  height: 600px;
  width: 100%;
}

#column-currency-converter {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 5vh;
  justify-content: center;
}

.converter-container {
  width: 50%;
  padding: 25px;
  border-radius: 50px;
  background-color: #EAE2B7;
}

/*Search Filters*/

.dining-filters {
  background-color: var(--bartleyGreen);
  padding: 25px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dining-filters button {
  margin: 1vh;
}

#loading-text {
  display: none;
  padding-top: 5vh;;
}

.loading-prompt {
  display: flex;
  padding-bottom: 52vh;
  justify-content: center;
  align-content: center;
}

/*Buttons*/

.btn-rounded {
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 300px;
  background-color: transparent;
  border-color: var(--birminghamBlue); 
  color: var(--birminghamBlue);
}

.btn-rounded:hover {
  background-color: var(--birminghamBlue);
  border-color: transparent !important;
  color: var(--textColor);
}

.btn-primary:active {
  background-color: transparent !important;
  border-color: var(--birminghamBlue) !important;
  color: #003049 !important;
}

.btn-orange {
  padding: 1vh;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  background-color: var(--yardleyYellow);
  border: none;
  margin: auto;
}

.btn-orange:hover {
  transition: all 0.25s;
  color: var(--yardleyYellow);
  border-color: var(--orange);
  background-color: var(--orange);
}

/*Carousel*/

#carousel-results {
  display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #003049;
}

/*Cards*/

.carousel-item .card-wrapper {
  display: flex;
  justify-content: center;
}

.card-single {
  display: flex;
  justify-content: center;
}

.card-results {
  width: 35dvh;
}

.card-results .card-img-top {
  height: 22vh;
  margin: 0 auto;
}

.card-results .card-img-top img {
  max-width: 100%;
  max-height: 100%;
}

/*Random Result*/

#random-result {
  display: none;
}

/* testimonials sections */
.row {
  padding: 20px;
}

.card {
  border-color: var(--secondaryColor);
  border-width: 3px;
}

/* contact */

.text-uppercase:hover {
  color: var(--orange);
  text-shadow: 2px;
  text-decoration: underline;
  transition: all 0.35s;
}

.small a {
  color: var(--secondaryColor);
}

.small a:hover {
  color: var(--birminghamBlue);
  text-shadow: 10px;
  text-decoration: underline;
  transition: all 0.35s;
}

/* footer */
.footer {
  background-color: var(--secondaryColor);
  color: var(--yardleyYellow);
  text-align: center;
  padding: 5px;
  width: 100%;
  bottom: 0;
}

/* media queries*/
@media screen and (max-width: 1010px) {
  #btn-dining {
    color: var(--textColor);
  }
  .dining-filters {
    flex-direction: column;
  }
  .btn-filter {
    margin: 1dvh;
  }
  .card:not(:first-child) {
      display: none;
  }

}